<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>mar</string>
	<string>minge</string>
	<string>floare</string>
	<string>copil</string>
	<string>cos</string>
	<string>masina</string>
	<string>motor</string>
	<string>roata</string>
	<string>ceas</string>
	<string>masa</string>
</array>
</plist>
